@model WebApp.vozilo

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div>
    <h2 class="is-size-3">Dodaj Vozilo</h2>
    <label>Marka</label>
    <br />
    @Html.EditorFor(model => model.marka, new { htmlAttributes = new { @class = "form-control" } })
    <br />
    <label>Godina proizvodnje</label>
    <br />
    @Html.EditorFor(model => model.godina_proizvodnje, new { htmlAttributes = new { @class = "form-control" } })
    <br />
    <label>Kilometri</label>
    <br />
    @Html.EditorFor(model => model.pocetni_km, new { htmlAttributes = new { @class = "form-control" } })
    <br />
    <br />
    <fieldset>
        <label>Tip vozila</label>
        @Html.DropDownList("tipovi_vozila")
    </fieldset>

    <br />
    <input type="submit" value="Create" class="button is-small is-primary" />
</div>
}

<br />
<div onclick="window.location.href= '@Url.Action("Index", "Vozila")'" class="button is-small is-primary">Nazad na listu vozila</div>