@model vozac
@if (Model == null)
{
    <h2>Ne postoji vozac s tim ID-em!</h2>
}
else
{
    <h2>Vozac ID: @Model.id  </h2>
    <form action="/api/v1/vozac/@Model.id" method="get" name="f">
        <ul>
            <li>Ime: <input class="inp" readonly value="@Model.ime" name="ime"></li>
            <li>Prezime: <input class="inp" readonly value="@Model.prezime" name="prezime"></li>
            <li>Broj mobitela: <input class="inp" readonly value="@Model.broj_mobitela" name="broj_mobitela"></li>
            <li>Broj vozacke: <input class="inp" readonly value="@Model.broj_vozacke" name="broj_vozacke"></li>
        </ul>
        <input hidden="hidden" id="check" readonly />
        <div id="bt" onclick="edit()" class="button is-small is-primary">Uredi</div>
        <div id="bt_send" onclick="document.forms['f'].submit();" hidden="hidden" class="button is-small is-primary" hidden>Spremi</div>
    </form>
}

<br />
<div onclick="window.location.href= '@Url.Action("Index","Vozaci")'" class="button is-small is-primary">Natrag na popis vozaca</div>

<script>
    function edit() {
        if (document.getElementById('check').readOnly) {
            document.getElementById('check').readOnly = false;
            document.getElementById('bt_send').hidden = false;
            Array.from(document.getElementsByClassName('inp'))
                .forEach(function (e) {
                    e.readOnly = false
                    e.style.border = "1px dotted green"
                }
                );
        } else {
            document.getElementById('check').readOnly = true;
            document.getElementById('bt_send').hidden = true;
            Array.from(document.getElementsByClassName('inp'))
                .forEach(function (e) {
                    e.readOnly = true
                    e.style.border = "1px solid red"
                }
                );
        }
    };
</script>